server:
  port: ${SERVICE_PORT:9001}

spring:
  data:
    mongodb:
      host: ${MONGO_HOST:localhost}
      port: ${MONGO_PORT:27017}
      username: ${MONGO_USER:mongoUser}
      password: ${MONGO_PASS:mongoPassword}
      database: ${MONGO_DB:mongoDatabase}

ad:
  domain: ${LDAP_DOMAIN:ldapDomain}
  url: ${LDAP_URL:ldapUrl}

jwt:
  clientId: client
  clientSecret: secret
  grantType: password
  authorizationCode: authorization_code
  refreshToken: refresh_token
  implicit: implicit
  scopeRead: read
  scopeWrite: write
  accessTokenValiditySeconds: 600000
  refreshTokenValiditySeconds: 600000
  trust: trust
  signingKey: signingKey