server:
  port: ${SERVICE_PORT:9001}

spring:
  data:
    mongodb:
      host: ${MONGO_HOST:localhost}
      port: ${MONGO_PORT:27017}
      username: ${MONGO_USER:admin}
      password: ${MONGO_PASS:admin}
      database: ${MONGO_DB:admin}

ad:
  domain: ${LDAP_DOMAIN:ldapDomain}
  url: ${LDAP_URL:ldapUrl}

jwt:
  clientId: client
  clientSecret: secret
  grantType: password
  authorizationCode: authorization_code
  refreshToken: refresh_token
  implicit: implicit
  scopeRead: read
  scopeWrite: write
  accessTokenValiditySeconds: 600000
  refreshTokenValiditySeconds: 600000
  trust: trust
  signingKey: signingKey

# workaround: https://stackoverflow.com/questions/46916921/spring-boot-actuator-ldap-health-endpoint-throwing-npe
management:
  health:
    ldap:
      enabled: false
