server:
  port: ${SERVICE_PORT:9001}

spring:
  data:
    mongodb:
      host: ${MONGO_HOST:localhost}
      port: ${MONGO_PORT:27017}
      username: ${MONGO_USER:admin}
      password: ${MONGO_PASS:admin}
      database: ${MONGO_DB:admin}

axon:
  axonserver:
    servers: ${AXON_HOST:localhost}

ad:
  domain: ${LDAP_DOMAIN:ou=people,dc=planetexpress,dc=com}
  url: ${LDAP_URL:ldap://ldap:389}

jwt:
  clientId: ${OAUTH_CLIENT:client}
  clientSecret: ${OAUTH_SECRET:{noop}secret}
  grantType: password
  authorizationCode: authorization_code
  refreshToken: refresh_token
  implicit: implicit
  scopeRead: read
  scopeWrite: write
  accessTokenValiditySeconds: 600000
  refreshTokenValiditySeconds: 600000
  trust: trust
  signingKey: ${OAUTH_SIGNING_KEY:signingKey}

# workaround: https://stackoverflow.com/questions/46916921/spring-boot-actuator-ldap-health-endpoint-throwing-npe
management:
  health:
    ldap:
      enabled: false
